body {
  margin: 0px; /*turns out, negative pixels IS a thing lol*/
  font-family: Arial, Helvetica, sans-serif;
}

.sick {
  font-size: 100px;
}

.container1 {
  display: flex;
  flex-direction: column;
  /*not sure what I'm supposed to do to make these stack vertically, I treied incasing stuff in divs within the div, but that didn't work either */
  align-items: center;
  justify-content: center;
}

.vertItem {
  flex: auto;
  max-width: 100%;
}

.container2 {
  display: flex;
  height: 250px;
  background-color: crimson;
  justify-content: flex-end;
  margin: auto 50px;
}

.box1 {
  display: flex;
  background-color: aliceblue;
  width: 50px;
  flex-grow: 1;
  margin: 5px 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.box2 {
  display: flex;
  background-color: aqua;
  width: 50px;
  flex-grow: 1;
  margin: 5px 5px;
  justify-content: center;
  align-items: center;
}

.box3 {
  background-color: rgb(132, 145, 200);
  width: 50px;
  flex-grow: 0;
  margin: 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* in a container this small, you can see the difference b/t justify-content and text-align pretty clearly. This one is like microsoft word, while the former treats the texta s a whole block.*/
}

/*TESTIMONIAL*/

.testimonial {
  padding: 100px 20vw; /* coonsider changing this and other section padding to vw in a later update*/
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  margin-bottom: 0;
  font-style: italic;
}

.attributed-to {
  font-weight: bold;
  align-self: flex-end;
}

.box1 img {
  width: 100%;
  max-width: 300px;
}
